################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NCS.DSS.Contact.Tests/obj/Debug
/packages
/NCS.DSS.Contact.Tests/bin/Debug
